{% extends 'base.html.twig' %}

{% block title %}ZeitPlanner - User Dashboard{% endblock %}

{% block stylesheets %}
    <style>
      
        .table-container {
            max-height:40vh ;
            overflow-y: auto;
            margin-top:10vh;
        }
        
        .table thead th {
            position: sticky;
            top: 0;
            background-color: #343a40; /* Dark background to match Bootstrap's .table-dark */
            color: white;
            z-index: 1;
        }
         .nav-link {
	position: relative;
	transition: all 0.3s;
}
.nav-link::after {
	content: '';
	position: absolute;
	bottom: -5px; /* Adjust as needed */
	left: 0;
	width: 0;
	height: 2px;
	background-color:black; /* Color of underline */
	transition: all 0.3s;
}
.nav-link.active::after,
.nav-link:hover::after {
	width: 100%;
}
    </style>
    {% endblock %}
    {% block body %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="dist/img/LOGO.png" alt="logo icon" height="55px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item fs-5 ms-3 fw-normal navList">
                    <a href="/userdashboard" class="nav-link  position-relative" aria-current="page">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-calendar" viewBox="0 0 16 16">
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                        </svg>
                        My Calendar
                    </a>
                </li>
                <li class="nav-item fs-5 ms-3 fw-normal mb-2">
                    <a href="/myEvents" class="nav-link position-relative" aria-current="page">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-list-task" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5zM3 3H2v1h1z"/>
                            <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1z"/>
                            <path fill-rule="evenodd"
                                  d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5zM2 7h1v1H2zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
                        </svg>
                        My Events
                    </a>
                </li>
                <li class="nav-item fs-5 ms-3 fw-normal">
                    <a href="/myrequests" class="nav-link active position-relative" aria-current="page">
                        <img src="dist/img/meeting-icon.jpg" width="25" height="25">
                            
                           
                        Meeting Requests
                    </a>
                </li>
            </ul>
        </div>
        <div class="d-flex align-items-center me-5">
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="dist/img/profile.jpeg" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>Profile</strong>
                </a>
                <div class="dropdown-menu dropup">
                    <a class="dropdown-item" href="/">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>
    <div class="container mt-5">
      <h2 class="display-5 mt-5 pt-5 text-center">List of Meeting Requests</h2>
                    <div class="table-container">
                                      

                        <table border="1" class="table table-bordered text-center " id="listOfEventsBox">
                            <thead class="table-dark">
                                <tr>
                                    <th>Id</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Requests Date</th>
                                    <th>Requests Time</th>
                                    <th>Meeting Purpose</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for event in requests %}
                                    <tr>
                                        <td>{{ event.id }}</td>
                                        <td>{{ event.Fname}}</td>
                                        <td>{{ event.Lname}}</td>
                                        <td>{{ event.email}}</td>
                                        <td>{{ event.ChooseDateTime|date('Y-m-d H:i') }}</td>
                                        <td>{{ event.ChooseDateTime|date(' H:i A') }}</td>
                                        <td>{{ event.purpose }}</td>
                                        
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

                {% endblock %}